@import '../variables';

.blog main{
    section{
        @include container-fluid;
        @include mg(3rem, $axis: y);
        h2{
            text-align: center;
        }

        > div{
            gap: 3rem;
            margin-top: 2rem;
            @include container-fluid;
            @include flex-1(flex, column, center, space-evenly);
            @media (min-width: 576px) { // Equivalente a "sm" en Bootstrap
                flex-direction: row;
            }
            > div{
                @include flex-1(flex, column, start, null);
                @include mg(0.5rem, $axis: x);
                @media (min-width: 992px) {
                    @include mg(1.5rem, $axis: x);
                }
                img{
                    width: 100%;
                    margin-bottom: 1.5rem;
                }
                button{
                    @include pg(1rem, $axis: x);
                    a{
                        color: $text-color-2
                    }
                }
            }
        }
    }
}